
.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    &--spinner {
        align-self: center;
        justify-self: center;
        height: 100%;
        padding-top: 50px;
    }
}

.viewport {
    height: 100%;
    width: 200px;
    border-top: 1px solid grey;
}

.entry {
    height: 45px;
    padding: 4px 10px;
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "name amount"
    "date date";

    &--date {
        grid-area: date;
        color: grey;
    }

    &--name {
        grid-area: name;
    }

    &--amount {
        grid-area: amount;
        justify-self: end;
    }
}

.title {
    align-self: center;
    margin: 10px 20px;
}
