
<div class="container--spinner" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">
    <h2 class="mat-title title">Všechny záznamy</h2>
    <cdk-virtual-scroll-viewport itemSize="{{entries.length}}" class="viewport">
        <ng-container *cdkVirtualFor="let entry of entries">
            <div class="entry" *ngIf="!entry.isNew">
                <div class="entry--name mat-body-1"> {{entry.name}}</div>
                <div class="entry--amount mat-body-2">{{entry.amount}} km</div>

                <span class="mat-caption entry--date">{{entry.date.toLocaleString()}}</span>
            </div>
            <div class="entry" *ngIf="entry.isNew" matRipple [matRippleDisabled]="true">
                <div class="entry--name mat-body-1"> {{entry.name}}</div>
                <div class="entry--amount mat-body-2">{{entry.amount}} km</div>

                <span class="mat-caption entry--date">{{entry.date.toLocaleString()}}</span>
            </div>
        </ng-container>
    </cdk-virtual-scroll-viewport>
</div>
