.progress {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--km-count {
        text-align: center;
        font-size: 60px;
    }
}

.google-map {
    width: 100%;;
}
