<app-layout>
    <div class="header mat-elevation-z6">
        <app-header (sidenavToggle)="sidenav.toggle()" (refreshEmitter)="refresh()" [walkers]="walkers"></app-header>
        <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
    </div>
    <div class="main-content-wrapper">
        <mat-sidenav-container>
            <mat-sidenav appResponsiveSidenav [permanentAt]="960" #sidenav role="navigation"
                         (openedChange)="onSidebarOpenChange$.next()">
                <app-entry-list [entries]="entries" [isLoading]="isLoading"></app-entry-list>
            </mat-sidenav>
            <mat-sidenav-content class="content">
                <mat-card class="card  mat-elevation-z7">
                    <app-current-progress [achievedDistance]="achievedDistance"
                                          [achievedPercent]="achievedPercent"
                                          [onSidebarOpenChange$]="onSidebarOpenChange$"></app-current-progress>
                </mat-card>
                <mat-card class="card  mat-elevation-z7">
                    <app-countdown [finishEstimate]="finishEstimate" [averageDailyDistance]="averageDailyDistance"
                                   [achievedDistance]="achievedDistance"></app-countdown>
                </mat-card>

                <mat-card class="card  mat-elevation-z7">
                    <app-km-in-days-bar-chart [entries$]="entries$.asObservable()"
                                              [onSidebarOpenChange$]="onSidebarOpenChange$.asObservable()"></app-km-in-days-bar-chart>
                </mat-card>

                <app-table-of-walkers [walkers]="walkers"></app-table-of-walkers>
                <mat-card class="card  mat-elevation-z7">
                    <iframe class="w-100"
                            src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d4527559.829519865!2d28.490148459519332!3d40.421468389320125!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4712941dc6ca2387%3A0xdb3a17546e5b93ba!2zS3LDoWxvdm9wb2xza8OhIDc0LCA2MTYgMDAgQnJuby3FvWFib3bFmWVza3k!3m2!1d49.2180173!2d16.5733092!4m5!1s0x1502d7d634c1fc4b%3A0xd96f623e456ee1cb!2sJerusalem%2C%20Israel!3m2!1d31.768318999999998!2d35.21371!5e0!3m2!1sen!2scz!4v1614883612860!5m2!1sen!2scz"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </mat-card>

                <mat-card class="card  mat-elevation-z7">
                    <img class="w-100" src="assets/jerusalem.jpg" alt="Jerusalem">
                </mat-card>
                <div class="footer">
                    <p class="footer--text">Vyvořil Horys. Pokud něco nefunguje nebo máš nápad na zlepšení, napiš na <a
                        href="mailto:9motom6%40gmail.com" class="footer--link">email</a>.
                        <a href="https://github.com/9motom6/cesta-do-jeruzalema" class="footer--link">Zdrojový kód</a>
                    </p>
                </div>

            </mat-sidenav-content>
        </mat-sidenav-container>

    </div>
</app-layout>
