<h1 mat-dialog-title>Přidat záznam</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Jméno</mat-label>
        <input type="text" matInput [formControl]="nameControl" [(ngModel)]="entry.name" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Počet kilometrů</mat-label>
        <input matInput type="number" [(ngModel)]="entry.amount" [formControl]="amountControl">
        <span matSuffix>km</span>
        <mat-error *ngIf="nameControl.invalid">{{getAmountErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Zrušit</button>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial type="submit">Uložit</button>
</div>
